<div>
  <h1>Mock OAuth login</h1>
  <form
    id="loginForm"
    action="/{{directoryID}}/oauth2/v2.0/login?{{queryParameters}}"
    method="post"
  >
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
    </div>
    <div>
      <label for="family_name">Family   Name:</label>
      <input type="text" id="family_name" name="family_name" required />
    </div>
    <div>
      <label for="given_name">Given Name:</label>
      <input type="text" id="given_name" name="given_name" required />
    </div>
    <div>
      <label for="tp_acct_typ">Account Type:</label>
      <input type="text" id="tp_acct_typ" name="tp_acct_typ" required />
    </div>
    <button type="submit">Submit</button>
  </form>

  <div>
    <h3>
      {{#if userDataArray.length}}
        Quick Submit (History)
      {{/if}}
    </h3>

    {{#each userDataArray}}
      <div
        style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; cursor: pointer;"
        onmouseover="this.style.borderWidth = '3px';"
        onmouseout="this.style.borderWidth = '1px';"
        onclick="document.getElementById('email').value = '{{this.email}}'; 
                 document.getElementById('family_name').value = '{{this.family_name}}';
                 document.getElementById('given_name').value = '{{this.given_name}}';
                 document.getElementById('tp_acct_typ').value = '{{this.tp_acct_typ}}';
                 document.getElementById('loginForm').submit();"
      >
        <div>given_name: {{this.given_name}}</div>
        <div>family_name: {{this.family_name}}</div>
        <div>email: {{this.email}}</div>
        <div>tp_acct_typ: {{this.tp_acct_typ}}</div>
      </div>
    {{/each}}
  </div>
</div>